body{
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
}

header{
display: flex;
align-items: center;
justify-content: space-around\;
padding: 20px;
/* height: 60px; */
}

.Navigation{
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: row;
color: #003554;
}

.nav:hover{
color: #00b2d4;
text-decoration: underline;
}

.servicepage{
background-color: #ebf9fb;
height: 350px;
}



.serpage h1{
display: flex;
justify-content: center;
align-items: center;
font-size: 50px;
font-weight: bold;
color: #003554;
margin-bottom: 30px;
}

.writup{
display: flex;
justify-content: center;
align-items: center;
}

.writup p{
font-size: 15px;
text-align: center;
padding: 0;
color: #003554;
}

.servicewe{
display: flex;
justify-content: space-around;
flex-direction: column;
height: 150px;
}

.offer h1{
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
color: #00b2d4;
}

.most p{
display: flex;
justify-content: center;
color: #003554;
font-size: 19px;
font-weight: bold;
text-align: center;
font-family: 'Montserrat', sans-serif;
}

.most1{
display: flex;
justify-content: center;
align-items: center;
text-align: center;

}

.image{
display: flex;
flex-direction: row;
height: auto;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 50px;
}

.images{
width: 300px;
/* height: auto; */
display: flex;
flex-direction: column;
align-items: center;
}

.image img{
height: 150px;
width: 150px;
object-fit: cover;
border-radius: 0px 360px 360px 360px;
}

.images p{
width: 150px;
display: flex;
font-size: 10px;
justify-content: flex-start;
color: #3a4952;
}

.images h4{
color: #003554;
}

.imgp1 p{
font-size: 20px;
text-align: center;
}

.second h3{
display: flex;
justify-content: center;
align-items: center;
} 

.secon h1{
font-size: 15px;
display: flex;
margin-left: 100px;
margin-top: 50px;
font-size: 30px;
}
.mar h4{
display: flex;
justify-content: flex-start;
align-items: center;
font-size: 20px;
margin-left: 100px;
color: #003554;
}

.mar p1{
justify-content: center;
font-size: 15px;
display: flex;
align-items: center;
}

.imagema{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
justify-content: space-around;
}

.marbl img{
height: 100px;
width: 100px;
object-fit: cover;
}