body{
margin: 0;
padding: 0;
}

header{
display: flex;
align-items: center;
justify-content: center;
padding: 20px;
height: 60px;
}

.Navigation{
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: row;
color: #003554;
}

.nav:hover{
color: #00b2d4;
text-decoration: underline;
}

.servicepage h1{
display: flex;
justify-content: center;
align-items: center;
font-size: 50px;
font-weight: bold;
color: #003554;
padding: 20px;
}

.writup{
display: flex;
justify-content: center;
align-items: center;
}

.writup p{
font-size: 15px;
text-align: center;
padding: 0;
color: #003554;
}
