body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #EAF8FA;

}

h3{
    font-size: 20px;
    color: rgb(0, 53, 84);
}
h2{
    font-size: 40px;
    color: rgb(0, 53, 84);
}
p{
    font-size: 15px;
    color: rgb(0, 53, 84);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    background-color: #EAF8FA;
}
.navigationtag{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    margin-right: 30px;
}
nav:hover{
    text-decoration: underline;
    cursor: pointer;
}
button{
    background-color: #0ECAEE;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: 1px;

}
button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.paragraph1{
    display: flex;
    justify-content: space-between;
    

}
.floating1 img{
    width: 150px;
    border: 0, 50, 50, 50;

}
.floating2 img{
    width: 150px;
}

.paragraph2{

}

.paragraph3{

}

.paragraph4{

}

