body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #EAF8FA;

}

h3{
    font-size: 20px;
    color: rgb(0, 53, 84);
}
h2{
    font-size: 40px;
    color: rgb(0, 53, 84);
}
p{
    font-size: 15px;
    color: rgb(0, 53, 84);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    background-color: #EAF8FA;
}
.navigationtag{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    margin-right: 30px;
}
nav:hover{
    text-decoration: underline;
    cursor: pointer;
}
button{
    background-color: #0ECAEE;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: 1px;

}
button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.paragraph1{
    display: flex;
    justify-content: space-around;


}
.floating1 img{
    width: 150px;
    border: 0, 50, 50, 50;

}
.floating2 img{
    width: 150px;
}

.paragraph2{
    height: 500px;
    
    display: flex;
    justify-content: space-around;
    background-color: white;

}

.imgg img{
    width: 700px;
    object-fit: contain;
}
.whitepaper{
    height: 200px;
    width: 200px;
    background-color: white;
    text-align: center;
    position: absolute;
    border-top-left-radius: 100px ;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    left: 0;
    top: 750px;
    margin-left: 500px;

}
.whitepaper h1{
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
}

.paragraph3{
    height: 500px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.ftft img{
    width: 400px;
    object-fit: contain;

}

.paragraph4{

    height: 500px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p4 img{
    width: 500px;
    object-fit: contain;
}

